a {
    font-family: 'MedievalSharp', cursive;
}

h1 {
    font-family: 'MedievalSharp', cursive;
    font-size: 275%;
    text-shadow: 0 0px 5px rgb(255, 255, 255);
}

.bg-hero-image{
    background-image: url('napoleon.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 21%;
}

body {
    background-image: url(napbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.kidnapoleon {
    height: 60%;
}

p {
    font-family: 'MedievalSharp', cursive;
}