a {
    font-family: 'MedievalSharp', cursive;
}

h1 {
    font-family: 'MedievalSharp', cursive;
    text-shadow: 0 0px 5px rgb(255, 255, 255);
}


.bg-hero-image{
    background-image: url('napoleon.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 21%;
}

body {
    background-image: url(napbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



p {
    font-family: 'MedievalSharp', cursive;
    font-size: 175%;
}

.early {
    font-family: 'MedievalSharp', cursive;
    font-size: 75%;
}

.size {
    min-height: 500px;
    font-size: 25px;
}

.size2 {
    font-size: 78%;
}

.end {
    font-family: 'MedievalSharp', cursive;
}

.accomp {
    height: 300px;
}

.size3 {
    font-size: 150%;
    height: 500px;
}

.contri {
    height: 500px;
}

.accomplish {
    height: 65%;
}

.lmsize {
    font-size: 150%;
}

.early2 {
    font-family: 'MedievalSharp', cursive;
    font-size: 100%;
}